---
BasedOnStyle: LLVM
Language: Cpp
Standard: c++20
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Linux
PointerAlignment: Right
ReferenceAlignment: Right
NamespaceIndentation: None
FixNamespaceComments: false
IndentCaseLabels: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
SpaceAfterTemplateKeyword: true
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
    - Regex: '^"'
      Priority: 1
    - Regex: '^<[a-z_]+\.h>$'
      Priority: 2
    - Regex: '^<[a-z_]+/[a-z_]+\.h>$'
      Priority: 3
InsertNewlineAtEOF: true
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
...